header {
  background: rgb(63,94,251);
  background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
}
.geeting-text {
  color: orange
}

.hotel-link {
  padding: 10px 0 10px 0;

}
.hotel-link a {
  text-decoration: none;
  font-size: larger;
  color: white;
}